#sponsors{
    a{
        border: none;
    }
    .sponsor-logo{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        float: none;
        margin: 0 auto;
        max-width: 100%;
    }

    .clearfix{
        clear: both;
    }

    .lg-sponsors{
        @media only screen and (min-width: 992px){
            display: flex;
            justify-content: space-around;
        }
        .sponsor-logo{
            width: 500px;
            height: 500px;
        }
    }
    .md-sponsors{
        @media only screen and (min-width: 992px){
            display: flex;
            justify-content: space-around;
        }
        .sponsor-logo{
            width: 225px;
            height: 225px;
        }
        .sponsor7{
            background-size: contain;
        }
    }
    .sm-sponsors{
        @media only screen and (min-width: 992px){
            display: flex;
            justify-content: space-around;
        }
        .sponsor-logo{
            display: flex;
            align-items: center;
            justify-content: center;
            img{
                width: 150px;
            }
        }
        .sponsor-name{
            padding-top: 15px;
            @media only screen and (min-width: 992px){
                padding-top: 30px;
            }
        }
    }
}
