#sponsors{
  display: none;
    a{
        border: none;
    }
    .sponsor-logo{
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        float: none;
        margin: 0 auto;
        max-width: 100%;
    }

    @each $sponsor in sponsor1, sponsor2, sponsor3, sponsor4, sponsor5, sponsor6, sponsor7, sponsor8, sponsor9, sponsor10, sponsor11{
        .#{$sponsor} {
            background-image: url('../images/sponsors/#{$sponsor}.jpg');
            max-width: 100%;
        }
    }

    .clearfix{
        clear: both;
    }

    .lg-sponsors{
        @media only screen and (min-width: 992px){
            display: flex;
            justify-content: space-around;
        }
        .sponsor-logo{
            width: 300px;
            height: 100px;
        }
    }
    .md-sponsors{
        @media only screen and (min-width: 992px){
            display: flex;
            justify-content: space-around;
        }
        .sponsor-logo{
            width: 200px;
            height: 80px;
        }
        .sponsor7{
            background-size: contain;
        }
    }
    .sm-sponsors{
        @media only screen and (min-width: 992px){
            display: flex;
            justify-content: space-around;
        }
        .sponsor-logo{
            width: 150px;
            height: 90px;
        }
        .sponsor11{
            background-size: contain;
        }
    }
}
